doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Admin
  body
    .container
      .row
        .col-xs-12
          ul.nav.nav-tabs
            li: a(href='/admin/categories') Categories
            li: a(href='/admin/articles') Articles

      .row
        .col-xs-12
          block content

    script(src='/jquery/jquery.js')

