doctype html
html
  head
    title Admin
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .sections
      a(href='/categories') Categories
      a(href='/articles') Articles

    block content

