extend ../admin-layout

block content
  if create
    - var title = 'Create'
    - var action = '/admin/articles/'
  else
    - var title = 'Edit'
    - var action = '/admin/articles/' + article.id

  h1 #{title} Article

  form(action=action, method='post')
    unless create
      input(type='hidden', name='_method', value='PUT')

    .form-group
      label Category
      select.form-control(name='article[category]')
        each category in categories
          if article.category
            - var article_category = article.category.id
          unless category.name === 'root'
            option(value=category.id, selected=category.id==article_category)= category.name
    .form-group
      label Title
      input.form-control(type='text', name='article[title]', value=article.title)
    .form-group
      label Text
      textarea.form-control(name='article[text]')
        != article.text
    .form-group
      a.btn.btn-danger(href='/admin/articles') Cancel
      button.btn.btn-primary Save

