extends ../admin-layout

block content
  h1 All Articles

  p: a(href='/admin/articles/new') New Article

  if articles.length > 0
    table.table.table-hover
      thead
        tr
          th Title
          th Category
          th Published State
          th Actions
      tbody
        each article in articles
          tr
            //- title
            td
              a(href='/admin/articles/'+article.id)= article.title
            //- category
            td
              a(href='/admin/categories/'+article.category.id)= article.category.name
            //- published state
            td= article.state
            //- actions
            td
              ul.list-inline
                li: a(href='/'+article.category.name+article.getTitle()) View
                li: a(href='/admin/articles/'+article.id+'/edit') Edit
                li
                  form(action='/admin/articles/'+article.id, method='post')
                    input(type='hidden', name='_method', value='DELETE')
                    button.btn.btn-danger.btn-xs Delete
  else
    p No articles found

