extends ../admin-layout

block content
  h1 Article: #{article.title}
    small (Category: #{article.category.name})

  p Published State: #{article.state}

  if article.title == 'root'
    - var article_title = ''
  else
    - var article_title = '/' + article.title

  ul.list-inline
    li: a(href='/'+article.category.name+article_title) View
    li: a(href='/admin/articles/'+article.id+'/edit') Edit
    li
      form(action='/admin/articles/'+article.id, method='post')
        input(type='hidden', name='_method', value='DELETE')
        button.btn.btn-danger.btn-xs Delete

  .content!= text

