extend ../admin-layout

block content
  h1 Edit Article
  p This is where we edit an article

  form(action='/admin/articles/' + article.id, method='post')
    input(type='hidden', name='_method', value='PUT')
    .row
      label Category
      select(name='article[category]')
        each category in categories
          option(value=category.id)= category.name
    .row
      label Title
      input(type='text', name='article[title]', value=article.title)
    .row
      label Text
      textarea(name='article[text]')
        != article.text
    .row
      button Submit

