extends ../admin-layout

block content
  h1 All Articles

  h2 Actions
    p: a(href='/articles/new') Create

  if articles.length > 0
    ul
      each article in articles
        li
          a(href='/articles/'+article.id)= article.title
          .actions
            a(href='/articles/'+article.id+'/edit') Edit
            form(action='/articles/'+article.id, method='post')
              input(type='hidden', name='_method', value='DELETE')
              button Delete
  else
    p No articles found


