extend ../admin-layout

block content
  h1 New article
  p This is where we create an article

  form(action='/admin/articles', method='post')
    .row
      label Title
      input(type='text', name='article[title]')
    .row
      label Text
      textarea(name='article[text]')
    .row
      label Category
      select(name='article[category]')
        each category in categories
          option(value=category.id)= category.name
    .row
      button Submit

