extends ../admin-layout

block content
  
  if create
    - var title = 'Create'
    - var action = '/admin/categories'
  else
    - var title = 'Edit'
    - var action = '/admin/categories/' + category.id

  h1 #{title} Category

  unless create
    p.warning Warning: changing a category name will change its URL!

  form(action=action, method='post')
    unless create
      input(type='hidden', name='_method', value='PUT')
    .row
      label Name
      input(type='text', name='category[name]', value=category.name)
    .row
      label Visible in Nav?
      input(type='checkbox', checked=category.visible, name='category[visible]')
    .row
      button Submit

