extend ../admin-layout

block content
  h1 New category
  p This is where we create a category

  form(action='/categories', method='post')
    .row
      label Name
      input(type='text', name='name')
    .row
      label Visible in Nav?
      input(type='checkbox', checked='checked', name='visible')
    .row
      button Submit

