extends ../admin-layout

block content
  h1 Show Category

  p: a(href='/admin/categories/'+category.id+'/edit') Edit

  form(action='/admin/categories/'+category.id, method='post')
    input(type='hidden', name='_method', value='DELETE')
    button Delete

  h2= category.name

  h3 Associated Articles

  p
    a(href='/admin/articles/new') Create new article

  if category.articles.length > 0
     ul
      each article in category.articles
        li
          a(href='/'+category.name+'/'+article.title)= article.title
          .actions
            a(href='/admin/articles/'+article.id+'/edit') Edit
            form(action='/admin/articles/'+article.id, method='post')
              input(type='hidden', name='_method', value='DELETE')
              button Delete
         
