extends ../admin-layout

block content
  h1 All Categories

  p: a(href='/admin/categories/new') New Category

  if categories.length > 0
    table.table.table-hover
      thead
        tr
          th Name
          th Category Articles
          th Visible in Nav
          th Active
          th Actions
      tbody
        each category in categories
          tr
            td
              a(href='/admin/categories/'+category.id)= category.name
            td
              p Articles: #{category.articles.length}
              ul
                each article in category.articles
                  li: a(href='/'+category.name + article.getTitle())= article.title
            td
              p= category.visible ? 'Yes' : 'No'
            td
              p= category.active ? 'Yes' : 'No'
            td
              ul.list-inline
                unless category.name === 'root'
                  li: a(href='/admin/articles/new?category='+category.id) Create Article
                li: a(href='/admin/categories/'+category.id+'/edit') Edit
                li
                  form(action='/admin/categories/'+category.id, method='post')
                    input(type='hidden', name='_method', value='DELETE')
                    button.btn.btn-danger.btn-xs Delete
              
  else
    p No categories found

