extends ../admin-layout

block content
  h1 Category: #{category.name}

  p Active: #{category.active ? 'Yes' : 'No'}

  ul.list-inline
    li: a(href='/admin/categories/'+category.id+'/edit') Edit
    li
      form(action='/admin/categories/'+category.id, method='post')
        input(type='hidden', name='_method', value='DELETE')
        button.btn.btn-danger.btn-xs Delete

  h3 Associated Articles

  unless category.name === 'root'
    p
      a(href='/admin/articles/new?category='+category.id) Create new article

  if category.articles.length > 0
    table.table.table-hover
      thead
        tr
          th Title
          th Actions
      tbody
        each article in category.articles
          tr
            td 
              a(href='/'+category.name + article.getTitle())= article.title
            td
              ul.list-inline
                li: a(href='/admin/articles/'+article.id) View
                li: a(href='/admin/articles/'+article.id+'/edit') Edit
                li
                  form(action='/admin/articles/'+article.id, method='post')
                    input(type='hidden', name='_method', value='DELETE')
                    button.btn.btn-danger.btn-xs Delete
  else
    p No articles found

